<table border="1">
<tr>
  <th>Source host</th>
  <th>Dest host</th>
  <th>Status</th>
  <th>RX bytes</th>
  <th>TX bytes</th>
</tr>

<tr>
  <th><%= domain.source_host %></th>
  <th><%= domain.dest_host %></th>
  <th><%= domain.state %></th>
  <th><%= domain.flux.rx %></th>
  <th><%= domain.flux.tx %></th>
</tr>
</table>